<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>kylebrumm.unsplashsource</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>B295712F-2281-44A9-A47A-46ED7F0B14A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15677F0F-7CDC-4329-97DB-6B318BA5E7D2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A46CD3B0-E4C0-408C-BC66-72E23842689E</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>28A64332-9366-4532-AFB7-7A2FBBF85B81</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>84410BE6-BDAC-409B-9AB4-AA932F68C583</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kyle Brumm</string>
	<key>description</key>
	<string>Generate embed URLs for Unsplash photos.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Unsplash Source</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>15677F0F-7CDC-4329-97DB-6B318BA5E7D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A46CD3B0-E4C0-408C-BC66-72E23842689E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>splash</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Generating embed URLs...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Generate Unsplash embed URLs</string>
				<key>title</key>
				<string>Unsplash Source</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B295712F-2281-44A9-A47A-46ED7F0B14A0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>28A64332-9366-4532-AFB7-7A2FBBF85B81</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Unsplash Embed URL Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>84410BE6-BDAC-409B-9AB4-AA932F68C583</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Version 1.0</string>
	<key>uidata</key>
	<dict>
		<key>15677F0F-7CDC-4329-97DB-6B318BA5E7D2</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>28A64332-9366-4532-AFB7-7A2FBBF85B81</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>84410BE6-BDAC-409B-9AB4-AA932F68C583</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>A46CD3B0-E4C0-408C-BC66-72E23842689E</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>B295712F-2281-44A9-A47A-46ED7F0B14A0</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>query:collection</key>
		<string>608458</string>
		<key>query:photo</key>
		<string>AZBgS29j4wM</string>
		<key>query:search</key>
		<string>iceland,trees</string>
		<key>query:user</key>
		<string>kylebrumm</string>
		<key>query:user-likes</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>query:collection</string>
		<string>query:photo</string>
		<string>query:search</string>
		<string>query:user</string>
		<string>query:user-likes</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>http://kylebrumm.com</string>
</dict>
</plist>
